
.information-container{
    margin-top: 100px;
}


.information-headings{
    font-size: 20px;
    color: rgba(255, 153, 51);
    text-shadow: 0px 0px 60px rgba(255, 153, 0, 0.7);
}

#information{
    text-align: left;
    padding: 20px;
    color: rgb(0, 195, 255);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 15px 3px;
    border-radius: 10px;
}

#sigma{
    margin: inherit;
    font-size: 30px;
    color: rgb(255, 153, 51);
    text-shadow: 0px 0px 60px rgba(255, 153, 0, 0.7);
}




@media only screen and (max-width: 980px){
    .information-container{
        margin-top: 50px;
    }

    .information-headings{
        font-size: 12px;
    }

    #information{
        text-align: left;
        padding: 10px;
        color: rgb(0, 195, 255);
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 3px 3px 15px 3px;
        border-radius: 10px;
    }

    #sigma{
        font-size: 14px;
    }
}