
body{
    margin-bottom: 50px;
    padding: 0;
    background-image: url("../images/background.jpg");
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: flexbox;
    align-self: absolute;
    place-self: absolute;
}

ul, li{
    margin: 0;
    display: inline;
    list-style-type: none;
}

p{
    font-size: large;
    padding: inherit;
    margin: 15px;
}


